# Dependencies
node_modules/

yarn.lock

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE and OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Markdown files and folder
*.md
md/
!README.md
